<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
</head>
<body>
    <nav th:replace="fragments/navigation::navbar"></nav>

    <div class="container mb-4 text-center">
        <div class="row">
            <h1>Contacts</h1>
        </div>
        <div class="row justify-content-center">
            <hr class="w-25">
        </div>
        <div class="row">
            <div class="col-6 align-middle">
                <h3>Contact information</h3>
                <p>Damyan Dimov</p>
                <p><i class="bi bi-envelope"></i> ddimov99@mail.bg</p>
                <p><i class="bi bi-telephone"></i> +359884743700</p>
            </div>
            <div class="col-4">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputFirstName1" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="exampleInputFirstName1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputLastName1" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputLastName1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputMessage1" class="form-label">Message</label>
                        <textarea type="" class="form-control" id="exampleInputMessage1"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer::footer"></footer>
</body>
</html>