<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
    <nav th:replace="fragments/navigation::navbar"></nav>

    <div class="container">
        <div class="row text-center justify-content-center">
            <h3>Ooops...</h3>
            <p>An error has occurred.</p>
            <p>Our team is working tirelessly to cope with the problem.</p>
            <img src="/images/error/error-shark.jpg" class="img-fluid w-50 mb-5" alt="">
        </div>
    </div>

    <footer th:replace="fragments/footer::footer"></footer>
</body>
</html>