<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
    <nav th:replace="fragments/navigation::navbar"></nav>

    <!--Slider-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/slider/2.PNG" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slider/2.PNG" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slider/2.PNG" class="d-block w-100 img-fluid" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container">
        <div class="row text-center m-4">
            <h1>Life is short. <b><i>Go Diving!</i></b></h1>
        </div>

        <div th:replace="fragments/start-diving::start-diving">
        </div>

        <section th:if="${topCourses.size() > 0}" class="mt-5 mb-5">
            <div class="row text-center">
                <h1>Our <b>most popular</b> courses</h1>
            </div>
            <div class="row mb-4">
                <div class="col mb-2" th:each="course : ${topCourses}">
                    <a th:href="@{/services/courses/details/{id}(id=*{course.id})}">
                        <div class="card bg-dark text-white">
                            <img th:src="*{course.imageUrl}" class="card-img" height="250px" alt="...">
                            <div class="card-img-overlay">
                                <h2 class="card-title" th:text="*{course.name}"><b ></b></h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>


        <div class="row mt-5 text-center">
            <h1><b>Schedule</b> for this week</h1>
        </div>

        <table th:replace="fragments/schedule-table::schedule">
        </table>

        <!--todo-->
        <div class="row mb-4">
            <div class="col text-center">
                <a href="/schedule">
                    <button type="button" class="btn btn-outline-primary">Book Your Dive Now</button>
                </a>
            </div>
        </div>

    </div>

    <footer th:replace="fragments/footer::footer"></footer>
</body>
</html>