 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
</head>
<body>
    <nav th:replace="fragments/navigation::navbar"></nav>

    <div class="container">
        <div class="row text-center">
            <h1>Add a review</h1>
        </div>
        <div class="row justify-content-center">
            <hr class="w-25">
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <form
                        method="POST"
                        th:action="@{/reviews/add}"
                        th:object="${reviewAddBindingModel}">
                    <div class="mb-3">
                        <label for="exampleInputMessage1" class="form-label">Message</label>
                        <textarea
                                th:field="*{message}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control"
                                id="exampleInputMessage1"></textarea>
                        <small
                                th:if="${#fields.hasErrors('message')}"
                                th:errors="*{message}"
                                id="firstNameHelpInline"
                                class="invalid-feedback bg-danger text-light rounded p-1">
                            You must enter a message.
                        </small>
                        <button type="submit" class="btn btn-outline-primary mt-1">Submit</button>
                    </div>
                </form>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer::footer"></footer>
</body>
</html>