<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer -->
<footer th:fragment="footer" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://www.facebook.com/ddimov99/" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://www.instagram.com/damyandimovv/" role="button"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/in/damyan-dimov-a45b9a1b5/" role="button"><i class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/dam-dim" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Services</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/services/courses" class="text-white">Courses</a>
                        </li>
                        <li>
                            <a href="/services/dives" class="text-white">Dives</a>
                        </li>
                    </ul>
                </div>

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Users</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/users/login" class="text-white">Login</a>
                        </li>
                        <li>
                            <a href="/users/register" class="text-white">Register</a>
                        </li>
                    </ul>
                </div>

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Other</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/reviews" class="text-white">Reviews</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright: Damyan Dimov
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>