<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:fragment="schedule" class="table table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">9:00</th>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
    </tr>
    <tr>
        <th scope="row">11:00</th>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-primary text-white">free</td>
    </tr>
    <tr>
        <th scope="row">14:00</th>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
    </tr>
    <tr>
        <th scope="row">16:00</th>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
        <td class="bg-success">taken</td>
        <td class="bg-primary text-white">free</td>
    </tr>
    </tbody>
</table>
</body>
</html>