<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="start-diving" class="card bg-dark text-white mt-4 mb-4">
        <img src="/images/start-diving2.png" class="card-img" alt="...">
        <div class="card-img-overlay text-center">
            <h1 class="card-title">Want to get certified</h1>
            <h4 class="card-text">See our full list of available courses here</h4>
            <a href="/services/courses">
                <button type="button" class="btn btn-outline-primary">Start Diving Now</button>
            </a>
        </div>
    </div>
</body>
</html>